:root {
  font-size: 20px;
}

@media (width < 500px) {
  :root {
    font-size: calc(100vw * .04);
  }
}

* {
  margin: 0;
}

body {
  background-color: black;
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-container {
  --gradient-color: rgb(1, 63, 82);
  margin: 1rem 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(to right, white 10%, var(--gradient-color), white 89%);
  border: solid rgb(137, 116, 158) .1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 2.5rem var(--gradient-color);
}

.outputContainer {
  width: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .8rem 1.5rem;
  border: solid black .1rem;
  border-radius: .7rem;
  background-color: #306ff8;
}

.outputText {
  color: white;
}

.outputNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: solid black .05rem;
  border-radius: 50%;

}